@page "/programspage"
@using LiftLog.Entities

<PageTitle>Your WorkoutPrograms</PageTitle>

<h1>Programs</h1>

<p>Your Programs</p>

<button class="btn btn-primary" @onclick="LoadData">Refresh Data</button>

@if(_showEdit){
<WorkoutProgramEditComponent Visible="_showEdit"/>
}
@if (_programs == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Program</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var program in _programs)
        {
            <tr>
                <td>@program.Name</td>
            </tr>
        }
        </tbody>
    </table>
}
